html{background: linear-gradient(to left, red, #f7db03);
}
h1{
    margin: 36px;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}
.white-box{
    position: absolute;
    top: 50px;
    left:35%;
    width: 400px;
    height: 550px;
    background: white;
    border-radius: 20px;
}

.e-mail{
    position: absolute;
    top: 150px;
    left: 75px;
    height: 25px;
    width: 250px;
    background: #e8e8e8;
    border: none;
    border-radius: 10px;
    color: grey;
    padding:3px
}
.title{
    position: absolute;
    top: 150px;
    left: 75px;
    height: 25px;

    color: grey;
    padding:3px;
    font-family: arial;
}
.comment{
    position: absolute;
    top: 150px;
    left: 75px;
    height: 70px;
    width: 250px;
    background: #e8e8e8;
    border: none;
    border-radius: 10px;
    color: grey;
    padding:3px
}
.buttom{
    position: absolute;
    top: 490px;
    left: 160px;
    height: 70px;
    width: 25px;
    color: red;
    border: 2px, solid, grey;
    border-radius: 10px;
    text-decoration: none;
    font-family: arial;
    transition: all, 0s, ease, 0.8s;
}
.buttom:hover{
    color: orange;
}
